body {
  height: 100%; 
  margin: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f6f2;
}

h1 {
  color:#666666;
  font-size: 3em; 
  font-family: serif;
  margin-top: 100em;
}

h2 {
  color:#666666; 
  font-size: 1.5em;
  font-family: serif;
  margin-top: 130em;
  text-align: center;
}











