body {
  margin: 0; 
  
  background-color: #f8f6f2;
}

h1 {

  font-family: serif;
  margin-top: 10px;
}

h2 {

  font-family: serif;
  margin-top: 15px;
  text-align: center;
}
















