body {
  margin: 100; 
  background-color: #f8f6f2;
  font-family: Georgia, serif;
  padding: 60px;
  border: 25px solid # b88846;
  box-sizing: border-box;
}

h1 {

  font-family: serif;
  margin-top: 7%;
}

h2 {

  font-family: serif;
  margin-top: 7.2%;
  text-align: center;
}





















